body {
	color: var(--text);
	line-height: 1.6;
	font-family: var(--font);
}

a {
	color: var(--primary);
	text-decoration: none;
}

code {
	font-family: var(--font-mono);
	font-size: 0.9rem;
	background: var(--tag);
	border: 1px solid var(--tag-border);
	color: var(--tag-text);
	padding: 0 0.2em;
	border-radius: 0.2em;
	white-space: wrap;
}

pre {
	background-color: var(--code);
	padding: 1rem;
	overflow-x: auto;
	border-radius: 0.7em;
}

pre code {
	background: none;
	border: none;
	padding: 0;
	white-space: pre;
	font-size: 0.9rem;
	line-height: 1rem;
	color: var(--hl-text);
}

blockquote {
	background-color: var(--quote);
	padding: 1rem 2rem;
	border-left: 3px solid var(--quote-side);
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}
