# OS
.DS_Store

# node
node_modules

# editor
.idea/
.vscode/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
build
build/**
dist/**
.output

# project
/coverage
.svelte-kit/*
!.svelte-kit/tsconfig.json
/.svelte-kit/*
!/.svelte-kit/tsconfig.json
package
/package
/packages/svelteui-errors/dist
.vercel
.turbo
coverage

# env
.env
.env.*
!.env.example
