/* purgecss start ignore */
.contents__link {
  @apply text-gray-700;
}

.contents__link:hover {
  @apply text-primary-800;
}

.contents__link--active {
  @apply font-medium text-primary-600;
}
/* purgecss end ignore */
