.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/bin
/.svelte-kit
/package
/src/components/Button
/src/components/Loader
/src/components/_styles
/src/components/_internal