{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true
}
