body {
	background-color: var(--body);
	color: var(--text);
}

:root {
	--primary: #228be6;
	--white: #ffffff;
	--black: #000000;
	--dark50: #c1c2c5;
	--dark100: #a6a7ab;
	--dark200: #909296;
	--dark300: #5c5f66;
	--dark400: #373a40;
	--dark500: #2c2e33;
	--dark600: #25262b;
	--dark700: #1a1b1e;
	--dark800: #141517;
	--dark900: #101113;
	--gray50: #f8f9fa;
	--gray100: #f1f3f5;
	--gray200: #e9ecef;
	--gray300: #dee2e6;
	--gray400: #ced4da;
	--gray500: #adb5bd;
	--gray600: #868e96;
	--gray700: #495057;
	--gray800: #343a40;
	--gray900: #212529;
	--red50: #fff5f5;
	--red100: #ffe3e3;
	--red200: #ffc9c9;
	--red300: #ffa8a8;
	--red400: #ff8787;
	--red500: #ff6b6b;
	--red600: #fa5252;
	--red700: #f03e3e;
	--red800: #e03131;
	--red900: #c92a2a;
	--pink50: #fff0f6;
	--pink100: #ffdeeb;
	--pink200: #fcc2d7;
	--pink300: #faa2c1;
	--pink400: #f783ac;
	--pink500: #f06595;
	--pink600: #e64980;
	--pink700: #d6336c;
	--pink800: #c2255c;
	--pink900: #a61e4d;
	--grape50: #f8f0fc;
	--grape100: #f3d9fa;
	--grape200: #eebefa;
	--grape300: #e599f7;
	--grape400: #da77f2;
	--grape500: #cc5de8;
	--grape600: #be4bdb;
	--grape700: #ae3ec9;
	--grape800: #9c36b5;
	--grape900: #862e9c;
	--violet50: #f3f0ff;
	--violet100: #e5dbff;
	--violet200: #d0bfff;
	--violet300: #b197fc;
	--violet400: #9775fa;
	--violet500: #845ef7;
	--violet600: #7950f2;
	--violet700: #7048e8;
	--violet800: #6741d9;
	--violet900: #5f3dc4;
	--indigo50: #edf2ff;
	--indigo100: #dbe4ff;
	--indigo200: #bac8ff;
	--indigo300: #91a7ff;
	--indigo400: #748ffc;
	--indigo500: #5c7cfa;
	--indigo600: #4c6ef5;
	--indigo700: #4263eb;
	--indigo800: #3b5bdb;
	--indigo900: #364fc7;
	--blue50: #e7f5ff;
	--blue100: #d0ebff;
	--blue200: #a5d8ff;
	--blue300: #74c0fc;
	--blue400: #4dabf7;
	--blue500: #339af0;
	--blue600: #228be6;
	--blue700: #1c7ed6;
	--blue800: #1971c2;
	--blue900: #1864ab;
	--cyan50: #e3fafc;
	--cyan100: #c5f6fa;
	--cyan200: #99e9f2;
	--cyan300: #66d9e8;
	--cyan400: #3bc9db;
	--cyan500: #22b8cf;
	--cyan600: #15aabf;
	--cyan700: #1098ad;
	--cyan800: #0c8599;
	--cyan900: #0b7285;
	--teal50: #e6fcf5;
	--teal100: #c3fae8;
	--teal200: #96f2d7;
	--teal300: #63e6be;
	--teal400: #38d9a9;
	--teal500: #20c997;
	--teal600: #12b886;
	--teal700: #0ca678;
	--teal800: #099268;
	--teal900: #087f5b;
	--green50: #ebfbee;
	--green100: #d3f9d8;
	--green200: #b2f2bb;
	--green300: #8ce99a;
	--green400: #69db7c;
	--green500: #51cf66;
	--green600: #40c057;
	--green700: #37b24d;
	--green800: #2f9e44;
	--green900: #2b8a3e;
	--lime50: #f4fce3;
	--lime100: #e9fac8;
	--lime200: #d8f5a2;
	--lime300: #c0eb75;
	--lime400: #a9e34b;
	--lime500: #94d82d;
	--lime600: #82c91e;
	--lime700: #74b816;
	--lime800: #66a80f;
	--lime900: #5c940d;
	--yellow50: #fff9db;
	--yellow100: #fff3bf;
	--yellow200: #ffec99;
	--yellow300: #ffe066;
	--yellow400: #ffd43b;
	--yellow500: #fcc419;
	--yellow600: #fab005;
	--yellow700: #f59f00;
	--yellow800: #f08c00;
	--yellow900: #e67700;
	--orange50: #fff4e6;
	--orange100: #ffe8cc;
	--orange200: #ffd8a8;
	--orange300: #ffc078;
	--orange400: #ffa94d;
	--orange500: #ff922b;
	--orange600: #fd7e14;
	--orange700: #f76707;
	--orange800: #e8590c;
	--orange900: #d9480f;

	--fontSize-xs: 12px;
	--fontSize-sm: 14px;
	--fontSize-md: 16px;
	--fontSize-lg: 18px;
	--fontSize-xl: 20px;

	--fontWeight-thin: 100;
	--fontWeight-extralight: 200;
	--fontWeight-light: 300;
	--fontWeight-normal: 400;
	--fontWeight-medium: 500;
	--fontWeight-semibold: 600;
	--fontWeight-bold: 700;
	--fontWeight-extrabold: 800;

	--space-xs: 10px;
	--space-sm: 12px;
	--space-md: 16px;
	--space-lg: 20px;
	--space-xl: 24px;

	--lineHeight-xs: 1;
	--lineHeight-sm: 1.25;
	--lineHeight-md: 1.5;
	--lineHeight-lg: 1.625;
	--lineHeight-xl: 1.75;

	--scale: 1;

	--radius-xs: calc(0.125rem * var(--scale));
	--radius-sm: calc(0.25rem * var(--scale));
	--radius-md: calc(0.5rem * var(--scale));
	--radius-lg: calc(1rem * var(--scale));
	--radius-xl: calc(2rem * var(--scale));

	--fontFamily-standard: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--fontFamily-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
		Courier New, monospace;
}

:root[data-theme='dark'] {
	--theme: dark;
	--bright: var(--white);
	--text: var(--dark50);
	--body: #1a1b1e;
	--error: #c92a2a;
	--placeholder: #5c5f66;
	--anchor: #4dabf7;
	--default: #25262b;
	--default-hover: #2c2e33;
	--default-color: #fff;
	--default-border: #373a40;
	--dimmed: var(--dark-2);
	--dark-filled: #141517;
	--dark-filled-hover: #101113;
	--dark-light: rgba(37, 38, 43, 0.15);
	--dark-light-hover: rgba(37, 38, 43, 0.2);
	--dark-light-color: #5c5f66;
	--dark-outline: #373a40;
	--dark-outline-hover: rgba(55, 58, 64, 0.05);
	--gray-filled: #343a40;
	--gray-filled-hover: #212529;
	--gray-light: rgba(134, 142, 150, 0.15);
	--gray-light-hover: rgba(134, 142, 150, 0.2);
	--gray-light-color: #dee2e6;
	--gray-outline: #ced4da;
	--gray-outline-hover: rgba(206, 212, 218, 0.05);
	--red-filled: #e03131;
	--red-filled-hover: #c92a2a;
	--red-light: rgba(250, 82, 82, 0.15);
	--red-light-hover: rgba(250, 82, 82, 0.2);
	--red-light-color: #ffa8a8;
	--red-outline: #ff8787;
	--red-outline-hover: rgba(255, 135, 135, 0.05);
	--pink-filled: #c2255c;
	--pink-filled-hover: #a61e4d;
	--pink-light: rgba(230, 73, 128, 0.15);
	--pink-light-hover: rgba(230, 73, 128, 0.2);
	--pink-light-color: #faa2c1;
	--pink-outline: #f783ac;
	--pink-outline-hover: rgba(247, 131, 172, 0.05);
	--grape-filled: #9c36b5;
	--grape-filled-hover: #862e9c;
	--grape-light: rgba(190, 75, 219, 0.15);
	--grape-light-hover: rgba(190, 75, 219, 0.2);
	--grape-light-color: #e599f7;
	--grape-outline: #da77f2;
	--grape-outline-hover: rgba(218, 119, 242, 0.05);
	--violet-filled: #6741d9;
	--violet-filled-hover: #5f3dc4;
	--violet-light: rgba(121, 80, 242, 0.15);
	--violet-light-hover: rgba(121, 80, 242, 0.2);
	--violet-light-color: #b197fc;
	--violet-outline: #9775fa;
	--violet-outline-hover: rgba(151, 117, 250, 0.05);
	--indigo-filled: #3b5bdb;
	--indigo-filled-hover: #364fc7;
	--indigo-light: rgba(76, 110, 245, 0.15);
	--indigo-light-hover: rgba(76, 110, 245, 0.2);
	--indigo-light-color: #91a7ff;
	--indigo-outline: #748ffc;
	--indigo-outline-hover: rgba(116, 143, 252, 0.05);
	--blue-filled: #1971c2;
	--blue-filled-hover: #1864ab;
	--blue-light: rgba(34, 139, 230, 0.15);
	--blue-light-hover: rgba(34, 139, 230, 0.2);
	--blue-light-color: #74c0fc;
	--blue-outline: #4dabf7;
	--blue-outline-hover: rgba(77, 171, 247, 0.05);
	--cyan-filled: #0c8599;
	--cyan-filled-hover: #0b7285;
	--cyan-light: rgba(21, 170, 191, 0.15);
	--cyan-light-hover: rgba(21, 170, 191, 0.2);
	--cyan-light-color: #66d9e8;
	--cyan-outline: #3bc9db;
	--cyan-outline-hover: rgba(59, 201, 219, 0.05);
	--teal-filled: #099268;
	--teal-filled-hover: #087f5b;
	--teal-light: rgba(18, 184, 134, 0.15);
	--teal-light-hover: rgba(18, 184, 134, 0.2);
	--teal-light-color: #63e6be;
	--teal-outline: #38d9a9;
	--teal-outline-hover: rgba(56, 217, 169, 0.05);
	--green-filled: #2f9e44;
	--green-filled-hover: #2b8a3e;
	--green-light: rgba(64, 192, 87, 0.15);
	--green-light-hover: rgba(64, 192, 87, 0.2);
	--green-light-color: #8ce99a;
	--green-outline: #69db7c;
	--green-outline-hover: rgba(105, 219, 124, 0.05);
	--lime-filled: #66a80f;
	--lime-filled-hover: #5c940d;
	--lime-light: rgba(130, 201, 30, 0.15);
	--lime-light-hover: rgba(130, 201, 30, 0.2);
	--lime-light-color: #c0eb75;
	--lime-outline: #a9e34b;
	--lime-outline-hover: rgba(169, 227, 75, 0.05);
	--yellow-filled: #f08c00;
	--yellow-filled-hover: #e67700;
	--yellow-light: rgba(250, 176, 5, 0.15);
	--yellow-light-hover: rgba(250, 176, 5, 0.2);
	--yellow-light-color: #ffe066;
	--yellow-outline: #ffd43b;
	--yellow-outline-hover: rgba(255, 212, 59, 0.05);
	--orange-filled: #e8590c;
	--orange-filled-hover: #d9480f;
	--orange-light: rgba(253, 126, 20, 0.15);
	--orange-light-hover: rgba(253, 126, 20, 0.2);
	--orange-light-color: #ffc078;
	--orange-outline: #ffa94d;
	--orange-outline-hover: rgba(255, 169, 77, 0.05);
}

:root[data-theme='light'] {
	--theme: light;
	--bright: var(--black);
	--text: #000;
	--body: #fff;
	--error: #fa5252;
	--placeholder: #adb5bd;
	--anchor: #228be6;
	--default: #fff;
	--default-hover: #f8f9fa;
	--default-color: #000;
	--default-border: #ced4da;
	--dimmed: var(--gray600);
	--dark-filled: #25262b;
	--dark-filled-hover: #1a1b1e;
	--dark-light: rgba(37, 38, 43, 0.1);
	--dark-light-hover: rgba(37, 38, 43, 0.12);
	--dark-light-color: #25262b;
	--dark-outline: #25262b;
	--dark-outline-hover: rgba(37, 38, 43, 0.05);
	--gray-filled: #868e96;
	--gray-filled-hover: #495057;
	--gray-light: rgba(134, 142, 150, 0.1);
	--gray-light-hover: rgba(134, 142, 150, 0.12);
	--gray-light-color: #868e96;
	--gray-outline: #868e96;
	--gray-outline-hover: rgba(134, 142, 150, 0.05);
	--red-filled: #fa5252;
	--red-filled-hover: #f03e3e;
	--red-light: rgba(250, 82, 82, 0.1);
	--red-light-hover: rgba(250, 82, 82, 0.12);
	--red-light-color: #fa5252;
	--red-outline: #fa5252;
	--red-outline-hover: rgba(250, 82, 82, 0.05);
	--pink-filled: #e64980;
	--pink-filled-hover: #d6336c;
	--pink-light: rgba(230, 73, 128, 0.1);
	--pink-light-hover: rgba(230, 73, 128, 0.12);
	--pink-light-color: #e64980;
	--pink-outline: #e64980;
	--pink-outline-hover: rgba(230, 73, 128, 0.05);
	--grape-filled: #be4bdb;
	--grape-filled-hover: #ae3ec9;
	--grape-light: rgba(190, 75, 219, 0.1);
	--grape-light-hover: rgba(190, 75, 219, 0.12);
	--grape-light-color: #be4bdb;
	--grape-outline: #be4bdb;
	--grape-outline-hover: rgba(190, 75, 219, 0.05);
	--violet-filled: #7950f2;
	--violet-filled-hover: #7048e8;
	--violet-light: rgba(121, 80, 242, 0.1);
	--violet-light-hover: rgba(121, 80, 242, 0.12);
	--violet-light-color: #7950f2;
	--violet-outline: #7950f2;
	--violet-outline-hover: rgba(121, 80, 242, 0.05);
	--indigo-filled: #4c6ef5;
	--indigo-filled-hover: #4263eb;
	--indigo-light: rgba(76, 110, 245, 0.1);
	--indigo-light-hover: rgba(76, 110, 245, 0.12);
	--indigo-light-color: #4c6ef5;
	--indigo-outline: #4c6ef5;
	--indigo-outline-hover: rgba(76, 110, 245, 0.05);
	--blue-filled: #228be6;
	--blue-filled-hover: #1c7ed6;
	--blue-light: rgba(34, 139, 230, 0.1);
	--blue-light-hover: rgba(34, 139, 230, 0.12);
	--blue-light-color: #228be6;
	--blue-outline: #228be6;
	--blue-outline-hover: rgba(34, 139, 230, 0.05);
	--cyan-filled: #15aabf;
	--cyan-filled-hover: #1098ad;
	--cyan-light: rgba(21, 170, 191, 0.1);
	--cyan-light-hover: rgba(21, 170, 191, 0.12);
	--cyan-light-color: #15aabf;
	--cyan-outline: #15aabf;
	--cyan-outline-hover: rgba(21, 170, 191, 0.05);
	--teal-filled: #12b886;
	--teal-filled-hover: #0ca678;
	--teal-light: rgba(18, 184, 134, 0.1);
	--teal-light-hover: rgba(18, 184, 134, 0.12);
	--teal-light-color: #12b886;
	--teal-outline: #12b886;
	--teal-outline-hover: rgba(18, 184, 134, 0.05);
	--green-filled: #40c057;
	--green-filled-hover: #37b24d;
	--green-light: rgba(64, 192, 87, 0.1);
	--green-light-hover: rgba(64, 192, 87, 0.12);
	--green-light-color: #40c057;
	--green-outline: #40c057;
	--green-outline-hover: rgba(64, 192, 87, 0.05);
	--lime-filled: #82c91e;
	--lime-filled-hover: #74b816;
	--lime-light: rgba(130, 201, 30, 0.1);
	--lime-light-hover: rgba(130, 201, 30, 0.12);
	--lime-light-color: #82c91e;
	--lime-outline: #82c91e;
	--lime-outline-hover: rgba(130, 201, 30, 0.05);
	--yellow-filled: #fab005;
	--yellow-filled-hover: #f59f00;
	--yellow-light: rgba(250, 176, 5, 0.1);
	--yellow-light-hover: rgba(250, 176, 5, 0.12);
	--yellow-light-color: #fab005;
	--yellow-outline: #fab005;
	--yellow-outline-hover: rgba(250, 176, 5, 0.05);
	--orange-filled: #fd7e14;
	--orange-filled-hover: #f76707;
	--orange-light: rgba(253, 126, 20, 0.1);
	--orange-light-hover: rgba(253, 126, 20, 0.12);
	--orange-light-color: #fd7e14;
	--orange-outline: #fd7e14;
	--orange-outline-hover: rgba(253, 126, 20, 0.05);
}
