name: Deploy Docs to GitHub Pages

on: workflow_dispatch

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: yarn --immutable

      - name: Build packages
        run: yarn package

      - name: Build docs
        env:
          BASE_PATH: ''
        run: |
          cd apps/docs
          yarn build
          touch build/.nojekyll
          touch build/CNAME && echo 'www.svelteui.org' > build/CNAME

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          # this should match the `pages` option in your adapter-static options
          path: 'build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v1