name: Main Workflow
on:
  pull_request:
    branches: [main, next-minor]
  push:
    branches: [main]
jobs:
  build:
    name: Actions
    strategy:
      matrix:
        node-version: [16, 17]
    runs-on: ubuntu-latest
    container:
      image: node:${{ matrix.node-version }}
      options: --user 1001
    steps:
      - uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Get yarn cache directory
        id: yarn-cache-dir
        run: |
          echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache node_modules
        uses: actions/cache@v3
        id: cache-node-modules
        with:
          path: |
            **/node_modules
            ${{ steps.yarn-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-modules-
      - name: Cache packages
        uses: actions/cache@v3
        id: cache-packages
        with:
          path: packages/**
          key: ${{ runner.os }}-${{ hashFiles('packages/*') }}
      - run: node --version
      - run: yarn --immutable
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
      - run: yarn run format
      - run: yarn run lint
      - run: yarn run package
        if: steps.cache-packages.outputs.cache-hit != 'true'
      - run: yarn run test
